# torch>=1.4.0
# torchvision>=0.5.0

polyaxon-client==0.6.1
tensorboard
future
polyaxon-helper==0.5.0
dominate>=2.4.0
visdom>=0.1.8.8
QtPy

SimpleITK
torchio
scikit-image
scipy
requests
# opencv-python
matplotlib
